extends layout

block content
  h1(class="center")= title
  h2(class="center") Bienvendio a calculadora Soap 
  h3(class="center") #{cuerpo}
  div(class="center")
    p Numero 1
      input(type="number" name="num1" id ="num1" max ="500")
    p Numero 2
      input(type="number" name="num2" id="num2" max ="500")
    
    p Suma
      input(type="radio" name="oper" value="suma" checked ) 
    p Resta
      input(type="radio" name="oper" value="resta")
    p Division
      input(type="radio" name="oper" value="div")
    p Multiplicacion
      input(type="radio" name="oper" value="mult")
    button( onclick="resultado()" ) Resultado
 
  h3(id="solucion") 
  div(id="respuestas")

  script(src="/javascripts/displayDataCalc.js")